[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "0.30.3"
fastapi = {extras = ["all"] }
requests = "2.32.3"
boto3 = "*"
beautifulsoup4 = "*"
faiss-cpu = "==1.8.0.post1"

[dev-packages]
black = "24.4.2"
pytest = "8.2.2"
pre-commit = "3.7.1"

[requires]
python_version = "3.12"
